@charset "UTF-8";

body {
    background-color: rgb(240, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 640px;
    text-align: center;
    margin: 0px auto;
}

img {
    display: block;
    margin: auto;
}

h1 {
    color: rgb(75, 75, 75);
    border: 4px solid rgb(75, 75, 75);
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

h2 {
    width: 600px;
    color: rgb(121, 121, 121);
    margin: 40px auto;
    font-size: 1.3em;
    text-align: center;
}

h3 {
    color: rgb(121, 121, 121);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
}

p {
    color: rgb(97, 97, 97);
    margin: 30px 0px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
}

a {
    background-color: rgb(104, 201, 104);
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
}